<header class="site__header">
  <div class="header-text">
    <a href="/">{{ site.title }}</a>

    <nav class="site__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">Registry</a></li>
        <li><a href="/rsvp/">RSVP</a></li>
      </ul>
    </nav>
  </div>
</header>