---
title: "Home Page"
meta_description: "B A B Y P A R T Y"
og_title: "Mini Martel"
---

<section class="component component--child-pages">
 
  <h2>Arriving Soon: <br> Mini Martel</h2>

  <div class="rsvp-div">
  <div class="rsvp-text">
      <p>12 October 2024</p>
      <p>11:00 AM - NO EARLY ARRIVALS! DOORS LOCKED UNTIL 11</p>
  </div>
    <div class="rsvp-button">
      <a href="/rsvp">
        <h3>RSVP</h3>
      </a>
    </div>
  </div>
</section>

