---
title: "Home Page"
meta_description: "B A B Y P A R T Y"
og_title: "Mini Martel"
---

<section class="component component--child-pages">
 
  <h2>Arriving Soon: <br> Mini Martel</h2>

  <section class="component component--media type--image">
    <div class="image-container">
      <picture class="homepage-picture">
        <img src="/img/holly-baby-photo.jpg" alt="Baby Holly">
      </picture>
      <picture class="homepage-picture">
        <img src="/img/denis-baby-photo.jpg" alt="Baby Denis">
      </picture>
    </div>
    <div>
      <picture class="homepage-picture">
        <img src="/img/gus.jpeg" alt="Baby Denis">
      </picture>
    </div>
  </section>

  <div class="rsvp-div">
  <div class="rsvp-text">
      <p>12 October 2024 - 11:00AM </br>12 Gloucester Drive, St. Albert</p>
      <p>NO EARLY ARRIVALS! DOORS LOCKED UNTIL 11!</p>
  </div>
    
  <button class="btn-secondary" onclick="window.location.href='/rsvp';">RSVP</button>
  </div>
</section>

