---
title: "Home Page"
meta_description: "B A B Y P A R T Y"
og_title: "Mini Martel"
---

<section class="component component--child-pages">
 
  <h2>Arriving Soon: <br> Mini Martel</h2>

  <section class="component component--media type--image">
    <div class="two-image-container">
      <picture class="homepage-picture">
        <img src="/img/holly-baby-photo.jpg" alt="Baby Holly">
      </picture>
      <picture class="homepage-picture">
        <img src="/img/denis-baby-photo.jpg" alt="Baby Denis">
      </picture>
    </div>
    <div class="image-container">
      <picture class="homepage-picture">
        <img src="/img/ultrasound.jpg" alt="Baby Boy">
      </picture>
    </div>
  </section>

  <div class="rsvp-div">
  <div class="rsvp-text">
      <p>26 October 2024, 12:00PM - 3:00PM </br>12 Gloucester Drive, St. Albert, AB</p>
      <p>Holly & Denis are having a baby! Join us as we celebrate 
        the upcoming arrival of baby Martel with a baby shower! </p>
  </div>
    
  <button class="btn-secondary" onclick="window.location.href='/rsvp';">RSVP</button>
  </div>
</section>

