/* Single Child Page Tile
 * ----------------------------------------------- */
.component--child-pages .flex-wrapper a {
  display: block;
  padding: var(--padding-200);
  border: var(--border-thickness-100) solid var(--border-color-primary);
  color: inherit;
  text-decoration: none;
  height: 100%;
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    :first-child {
      text-decoration: underline;
    }
  }
}

/* Child Pages Group
 * ----------------------------------------------- */
.component--child-pages {
  padding: 0 var(--page-margin-200);
  background-color: var(--colour-primary);
  text-align: center;
  margin-top: 15vh;
  height: 100vh;
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--padding-400) var(--padding-400);
    padding: 0;
    margin-inline: 0;
    list-style: none;
  }

  .rsvp-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rsvp-button {
    margin-top: 1.25%;
    padding: 0px 5% 0px 5%;
    background-color: var(--colour-secondary);
    transition: 0.15s ease-in;

    &:hover,
    &:focus {
        background-color: var(--button-secondary-surface-hover);
    }
  }

  .rsvp-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .registry-div{
    padding-top: 10vh;
  }

  li {
    flex: 0 1 calc(33% - 2.2rem);
    margin: 0;
  }

  @media screen and (max-width: 1020px) {
    li {
      flex: 0 1 calc(50% - 1.6rem);
    }
  }

  @media screen and (max-width: 768px) {
    li {
      flex: 0 1 100%;
    }
  }
}

.link-container{
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
}

.registry-link {
  padding-bottom: 2vh;
  color: var(--colour-tertiary);
  font-size: var(--heading-3);
  font-family: var(--text-font-title);
  font-style: italic;
  text-decoration: none !important;

  &:visited {
    color: var(--colour-quaternary);
  }

  &:hover {
    color: var(--colour-secondary);
  }
}