.component--media {
  //padding: 0 var(--page-margin-500);
  picture,
  img,
  video,
  iframe {
    width: 100%;
    //border-radius: var(--radius-frame-500);

    + p {
      font-size: var(--font-small);
    }
  }

  iframe[src*='youtube'] {
    aspect-ratio: 16 / 9;
  }
}

.two-image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-container{
  display: flex;
  justify-content: center;
 
}

.homepage-picture{
  margin: 0 10px 10px 10px;
  border: 5px solid var(--colour-secondary);
  border-radius: 25px;
  max-width: 341px;
  max-height: 341px;
}
  