
<section class="component component--child-pages">
  <h1> Thank-you!</h1>
  <div class="registry-div">
    <button class="btn-secondary" onclick="window.location.href='/registry';">Registry</button>
  </div>
</section>