---
title: "Registry"
---
<!-- <section class="banner style--default">
  <h1>{{ title }}</h1>
</section> -->

<section class="component component--child-pages">
  <section class="component component--text-block">
    <h2>{{ title }}</h2>
    <p>Holly and Denis have prepared three separate registries for guests interested in bringing a gift. 
    </p>
  </section>

  <div class="link-container">
    <a class="registry-link" href="https://www.amazon.ca/baby-reg/holly-ching-january-2025-stalbert/33QI1SSGRMQYZ" target="_blank">Amazon</a>
    <a class="registry-link" href="https://www.westcoastkids.ca/giftregistry/view/index/id/UNWKSK/" target="_blank">West Coast Kids</a>
    <a class="registry-link" href="https://www.babiesrus.ca/en/babyregistry-account?registryNumber=62247620" target="_blank">Babies R Us</a>
</div>
</section>