---
title: "Répondez s'il vous plaît"
---
<!-- <section class="banner style--default">
  <h1>{{ title }}</h1>
</section> -->

<section class="component component--child-pages">
<section class="component component--text-block">
  <h2>{{ title }}</h2>
  <p>We invite you to celebrate the arrival of the newest member of the Martel family. 
  </br> Join us Saturday, October 12th at 11:00AM for a live, laugh, loving good time.</p>
</section>

<form name="rsvp-form" method="POST" class="component component--form" netlify>
  <h3>Guest Information</h3>

  <div class="form-item">
    <label>Name</label>
    <input name="name-input" type="text">
  </div>

  <div class="form-item">
    <label>Name of Additional Guest</label>
    <input name="plus-one-input" type="text">
  </div>

  <div class="form-item">
    <label>Dietary Restrictions</label>
    <textarea name="diet-input" id="" cols="30" rows=3"></textarea>
  </div>
  
  <div class="form-item">
    <label>Email</label>
    <input name="email-input" type="text">
  </div>
  <button class="btn-secondary" type="submit">RSVP</button>
</form>
</section>