---
title: "Répondez s'il vous plaît"
---
<!-- <section class="banner style--default">
  <h1>{{ title }}</h1>
</section> -->

<section class="component component--child-pages">
<section class="component component--text-block">
  <h2>{{ title }}</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, cupiditate, a eos totam voluptates quisquam eligendi voluptatum, sit vel iure hic itaque sunt voluptas expedita molestias unde quis nostrum. Corporis molestias asperiores quae minus, quam laborum error dolores placeat? Voluptates, consequuntur molestias? Dignissimos accusamus rem nobis officia explicabo excepturi pariatur!</p>
</section>

<form name="rsvp-form" method="POST" class="component component--form" netlify>
  <h3>Guest Information</h3>

  <div class="form-item">
    <label>Name</label>
    <input name="name-input" type="text">
  </div>

  <div class="form-item">
    <label>Name of Additional Guest</label>
    <input name="plus-one-input" type="text">
  </div>

  <div class="form-item">
    <label>Dietary Restrictions</label>
    <textarea name="diet-input" id="" cols="30" rows=3"></textarea>
  </div>
  
  <div class="form-item">
    <label>Email</label>
    <input name="email-input" type="text">
  </div>
  <button class="btn-secondary" type="submit">Send</button>
</form>
</section>