@mixin btn-defaults {
  margin-bottom: 20px;
  display: inline-block;
  gap: var(--padding-100);
  padding: 2px 8% 6px 8%;
  font-size: var(--heading-2);
  font-family: var(--text-font-title);
  font-style: italic;
  text-decoration: none !important;
  max-width: 100%;
  cursor: pointer;
  transition: 0.15s ease-in;

  // prevents zoomnig on mobile if double tapped
  touch-action: manipulation;

  // prevents accidentally highlighting text
  user-select: none;

  svg.external-icon {
    stroke: currentColor;

    path {
      fill: currentColor;
    }
  }

  &:hover,
  &:focus-visible {
    text-decoration: none;
  }
}

@mixin btn-secondary {
  @include btn-defaults;
  background-color: var(--button-secondary-surface);
  border: var(--button-secondary-border);
  color: var(--text-link-visited);
  margin-top: 20px;
  &:visited {
    color: var(--button-secondary-color);
  }

  &:hover,
  &:focus {
    background-color: var(--button-secondary-surface-hover);
    border: var(--button-secondary-border-hover);
  }
}


.btn-secondary {
  @include btn-secondary;
}